/* .container {
    display: flex;
}
.container div {
    width: 50%;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 5rem;
}
.left {
    color: white;
    border-right: 1px solid #111;
} */
.main {
    width: 100%;
    padding-top: 250px;
    padding-bottom: 250px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 5rem;
}
#guess {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}